@model QuanLySieuThi.Models.Entities.KhachHang

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2 style="color:blue;font-style:oblique">Xóa</h2>

<h3>Bạn có muốn xóa không?</h3>
<div>
    <h4>Khách hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapThe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapThe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayMuaGanNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMuaGanNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemThuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemThuong)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
