@model IEnumerable<QuanLySieuThi.Models.Entities.ChungLoai>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2 style="color:blue;font-style:oblique">Danh sach chung loai</h2>

<p>
    <i class="fa fa-newspaper-o"></i>
    @Html.ActionLink("Tao moi", "Create")
</p>
<table class="table" border="1">
    <tr style="color:red;font-size:15px;font-style:oblique">
        <th>
            Ma chung lai
        </th>
        <th>
            Ten chung loai
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaCL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                <i class="fa fa-edit" style="color:blue;"></i>
                @Html.ActionLink("Thay doi", "Edit", new { id = item.MaCL }) |
                <i class="fa fa-deaf" style="color:blue;"></i>
                @Html.ActionLink("Chi tiet", "Details", new { id = item.MaCL }) |
                <i class="fa fa-remove" style="color:blue;"></i>
                @Html.ActionLink("Xoa", "Delete", new { id = item.MaCL })
            </td>
        </tr>
    }

</table>
