@model IEnumerable<QuanLySieuThi.Models.Entities.ChucVu>

@{
    ViewBag.Title = "Danh sach chuc vu";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2 style="color:blue;font-style:oblique">Danh sach chat lieu</h2>

<p>

    <i class="fa fa-newspaper-o"></i>
    @Html.ActionLink("Tao moi", "Create")
</p>
<table class="table table-hover table-condensed table-striped table-responsive" border="1">
    <tr style="color:red;font-size:15px;font-style:oblique">
        <th>
            Ma chuc vu
        </th>
        <th>
            Ten chuc vu
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaCV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                <i class="fa fa-edit" style="color:blue;"></i>
                @Html.ActionLink("Thay doi", "Edit", new { id = item.MaCV }) |

                <i class="fa fa-deaf" style="color:blue;"></i>
                @Html.ActionLink("Chi Tiet", "Details", new { id = item.MaCV }) |

                <i class="fa fa-remove" style="color:blue;"></i>
                @Html.ActionLink("Xoa", "Delete", new { id = item.MaCV })
            </td>

        </tr>
    }

</table>
